html, body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0px;
	padding: 0px;

	font-family: 'Montserrat', Montserrat;
}
body {
	background:linear-gradient(to bottom, rgba(249, 178, 142, 1) 0%, rgba(201, 137, 134, 1) 100%);
}

.name {
	font-family: 'Montserrat', Montserrat;
	margin-bottom: 2px;
}
.wrapper{
	max-width: 50%;
	display: flex;
	flex-direction: row;
	height: 80%;
}
.left, .right{
	margin: 5px;
	max-width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.left {
  align-items: center;
  justify-content: center;
}
.profile-picture{
	border-radius: 50%;
}
.links{
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
}
.links li{
	display: inline-block;
	margin-right: 8px;
}
.links a{
	text-decoration: none;
	padding: 4px;
}
.links a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}





